@import "tailwindcss";
@config "../../../tailwind.config.ts";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

.swiper-pagination {
  bottom: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 40px !important; */
  gap: 8px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #999 !important;
  opacity: 1 !important;
  border-radius: 9999px;
  transition: all 0.3s ease;
  border: 1px solid var(--color-green-normal) !important;
}

.swiper-pagination-bullet-active {
  background: #22c55e !important; /* green */
  width: 24px !important;
  height: 8px !important;
  border-radius: 16px !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}